@charset "UTF-8";

body {
	font-size: 14px;
}

img {
	/*테두리없음*/
	border: 0;
	/*inline속성의 오차를 방지하고자 block속성으로 변경*/
	display: block;
}

#main_picture1 {
	/*가로너비*/
	width: 100%;
	/*세로높이*/
	height: 300px;
	/*높이만큼 보여짐*/
	overflow: hidden;
	/*배경이미지*/
	background-image: url(../images/phone2.jpg);
	/*배경이미지 반복여부*/
	background-repeat: no-repeat;
	/*배경이미지 스크롤에 따른 이동*/
	background-attachment: scroll;
	/*배경이미지 사이즈*/
	background-size: 100% 464px;
	/*안쪽 그림자 효과 css3generator.com*/
	-webkit-box-shadow: inset 3px 2px 25px 10px rgba(0, 0, 0, 0.8);
	box-shadow: inset 3px 2px 25px 10px rgba(0, 0, 0, 0.8);
}

#pass {
	/*가로너비*/
	width: 1175px;
	/*높이만큼 늘어남*/
	overflow: hidden;
	/*상대위치*/
	position: relative;
	/*block속성일 때 가운데 정렬*/
	margin: 0px auto;
}

#board {
	margin: 140px 170px;
}

aside {
	/*가로너비*/
	width: 300px;
	/*세로높이*/
	height: 500px;
	/*왼쪽기준정렬*/
	float: left;
	/*높이만큼 보여짐*/
	overflow: hidden;
	/*상대위치*/
	position: relative;
	/*배경색상*/
	background-color: #1e1e1e;
	background-image: url(../image/write.PNG);
	background-size: 100%;
}

section {
	/*가로너비*/
	width: 800px;
	/*세로높이*/
	height: 500px;
	/*오른쪽 기준정렬*/
	float: right;
	/*높이만큼 보여짐*/
	overflow: hidden;
	/*상대위치*/
	position: relative;
}

table {
	width: 300px;
	border-collapse: collapse;
	/* text-align:center; */
}

.passWrite {
	border-top: 2px solid #b4252d;
	border-bottom: 2px solid #b4252d;
	margin-bottom: 7px;
}

.passWrite tr {
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

.passWrite tr td {
	padding: 3px;
}

.btn {
	border: 1px solid #980000;
	padding: 5px 10px;
	color: #fff;
	background-color: #980000;
	border-radius: 3px;
}

.btnClass {
	text-align: center;
}

.input {
	width: 200px;
	height: 17px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	margin-left: 10px;
}

.board_title {
	font-size: 17px;
	margin-bottom: 7px;
}